@import "variables.css";

.search-form {
  background-color: 1px solid var(--black);
  width: 100%;
  padding: var(--default-padding);
}

.search-form .input-group {
  width: 100%;
}

.search-form .input-group .form-control {
  border-radius: 25px 0 0 25px;
}

.search-form .input-group .btn {
  border-radius: 0 25px 25px 0;
  background-color: var(--deep-koamaru);
  border-color: var(--deep-koamaru);
  padding: 0 30px;
}
