@import "variables.css";

.search-form {
  background-color: 1px solid var(--black);
  margin: 0 0 30px 0;
  padding: var(--default-padding);
  width: 100%;
}

.search-form .input-group {
  width: 100%;
}

.search-form .input-group .form-control {
  border-radius: 25px 0 0 25px;
}

.search-form .input-group .btn {
  border-radius: 0 25px 25px 0;
  background-color: var(--white);
  border-color: var(--yankees-blue);
  color: var(--yankees-blue);
  font-weight: bolder;
  padding: 0 30px;
}
