.tweet-box {
  background-color: var(--white);
  border: 1px solid lightgray;
  display: flex;
  align-items: flex-start;
  padding: var(--default-padding);
}

.tweet-box .image-area {
  margin-right: 10px;
}

.tweet-box .image-area img {
  border-radius: 50%;
}

.tweet-box .tweet-area .user-info p {
  margin: 0;
}

.tweet-user-message {
  margin: 0;
}
