{% extends "layout.html" %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="search-form">
            <form action="" class="form-inline">
                <input type="text" name="hashtags" class="form-control" placeholder="Search for hashtags">
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>

        <div class="hashtag-list"></div>
        <div class="message-list"></div>
    </div>
</div>
{% endblock %}